<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body class="container">

  <div class="col-md-6 col-md-offset-3">
    <h1>Hello <%- name %></h1>

    <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
      Logout
    </button>

    <button class="btn btn-danger " id="delete" type="submit" value="delete">
      Delete
    </button> <br /><br />


    <form action="/metrics" method="post">

      <div class="form-group">
        <label for="form_m_name"> m_name </label>
        <input required id="form_m_name" type="text" name="m_name" />
      </div>
      <div class="form-group">
        <label for="form_number"> Value </label>
        <input required id="form_number" type="number" name="value" />
      </div>
      <button class="btn btn-success " type="submit" value="post">
        Post metric
      </button>
    </form>

    <br />

    <button class="btn btn-primary " id="allMetrics">
      Get All Metrics
    </button>
    <!-- <div id="metrics"></div> -->

    <table class="table">
      <thead>
        <tr>
          <th scope="col"> Metric </th>
          <th scope="col"> Timestamp </th>
          <th scope="col"> Value </th>
        </tr>
      </thead>
      <tbody id="metrics">
        <!-- Metrics insterted here -->
      </tbody>
    </table>

    <br /><br />


    <label for="form_m_name"> metric's name </label>
    <input type="text" id="m_name" />
    <br />
    <button class="btn btn-primary " id="getOne_metric">
      Search metrics
    </button>

    <table class="table">
        <thead>
          <tr>
            <th scope="col"> Metric </th>
            <th scope="col"> Timestamp </th>
            <th scope="col"> Value </th>
          </tr>
        </thead>
        <tbody id="searchMetrics">
          <!-- Metrics insterted here -->
        </tbody>
      </table>


    <br /><br />

    <label for="form_m_name"> metric's name </label>
    <input type="text" id="m_name3" />

    <label for="form_m_name"> Value </label>
    <input type="number" id="value3" />

    <button class="btn btn-primary" id="updateOne_metric">
      Update Metric
    </button>


    <br /><br />


  </div>

  <!--delete metric-->
  <div class="form-group">
    <label for="form_m_name"> m_name </label>
    <input id="m_name2" type="text" name="m_name" />
  </div>
  <button class="btn btn-danger " id="deleteSearch" value="delete">
    Delete Metric
  </button>

  <% if(name) { %>
  <script>
    const username = <%- name %>
  </script>
  <% } %>


  <script>
      $('#delete').click((e) => {
        e.preventDefault();
        $.ajax({
          async: true,
          url: '/user/' + username,
          type: 'DELETE',
          contentType: 'application/json',
          success: () => {
            window.location.replace('/login')
          }
        })
      })

    $('#allMetrics').click((e) => {
      e.preventDefault();
      $.ajax({
        async: true,
        url: '/metrics',
        type: 'GET',
        contentType: 'application/json',
        success: (response) => {
          $.getJSON("/metrics", {}, (data) => {
            const content = data.map(d => {
              return(
                '<tr>' +
                  '<td>' + d.m_name + '</td>'
                  + '<td>' + d.timestamp + '</td>'
                  + '<td>' + d.value + '</td>'
                + '</tr>'
              )
            })
            $('#metrics').empty()
            $('#metrics').append(content.join("\n"));
          });
        }
      })
    })

    $('#getOne_metric').click((e) => {
      e.preventDefault();
      var m_name = document.getElementById("m_name").value
      if (m_name == '') {
        alert(`Please specify a metric name`)
      } else {
        $.ajax({
          async: true,
          url: '/metrics/' + m_name,
          type: 'GET',
          contentType: 'application/json',
          success: (response) => {
            $.getJSON("/metrics/" + m_name, {}, (data) => {
              const content = data.map(d => {
                return(
                '<tr>' +
                  '<td>' + d.m_name + '</td>'
                  + '<td>' + d.timestamp + '</td>'
                  + '<td>' + d.value + '</td>'
                + '</tr>'
              )              })
              $('#searchMetrics').empty()
              $('#searchMetrics').append(content.join("\n"));
            });
            console.log('/metrics/' + m_name)
            console.log('yes dans le client')
          },
          error: () => {
            console.log('Oh no ! A problem')
          }
        })
      }

    }
    )

// il faudrait ajouter un message comme quoi on a bien delete

    $('#deleteSearch').click((e) => {  // delete Metric
      e.preventDefault();
      var m_name = document.getElementById("m_name2").value
      $.ajax({
        async: true,
        url: '/metrics/' + m_name,
        type: 'DELETE',
        contentType: 'application/json',
        success: () => {
          window.location.replace('/')
        }
      })
    })
// il faudrait ajouter un message comme quoi on a bien update
    $('#updateOne_metric').click((e) => {  // update Metric
      e.preventDefault();
      var m_name = document.getElementById("m_name3").value
      var value = document.getElementById("value3").value
      if (m_name == '' || value == '') {
        alert(`Please specify a metric name and a value`)
      }
      else {
        $.ajax({
          async: true,
          url: '/metrics/' + m_name,
          type: 'PUT',
          data: JSON.stringify({ 'value': value }),
          contentType: 'application/json',
          success: () => {
            window.location.replace('/')
          },
          error: () => {
            console.log('Ouille ouille error')
          }
        })
      }

    })


  </script>
</body>

</html>