<meta charset="UTF-8">
<title>ECE AST</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
    .alert {
        padding: 15px;
        background-color: #f44336; /* Red */ 
        color: white;
        margin-bottom: 25px;
        text-align: center;
    }
    body {
        padding-top: 50px;
        width: 100%;
    }
</style>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
